#main {
    background-image: url("header_bg.jpg");
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-size: cover;
}

body{
    margin: 0;
    background-color: #333;

}

h1 {
    color: rebeccapurple;
    font-size: 60px;
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#about{
    background-color: #333;
    height: 100vh;
}

h2, p {
    color: #f2f2f2;
}


*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.window {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.window .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.window .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#menu a, #hamburger-menu a {
    color: cornflowerblue;
}

#menu a:hover, #hamburger-menu a:hover, #close-menu-hamburger:hover, header h1:hover {
    color: blueviolet;
}

#menu {
    width: 470px;
    height: 150px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}


/* Hamburger menu */
#menu-hamburger {
    height: 500px;
    width: 130px;
    background-color: gray;
    position: fixed;
    display: none;
    flex-direction: column;
    top: 200px;
    left: 0;
    justify-content: space-around;
    text-align: center;
    padding: 20px 20px 0;
    font-size: 17px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black, 0 0 20px white, 0 0 10px midnightblue inset,
    5px 5px 15px black, 0 0 20px white;
    cursor: pointer;
}


@media (min-width: 1100px) {
    .hamburger, #menu-hamburger {
        display: none;
    }

    #open-menu-hamburger {
        display: block;
    }
}

@media (max-width: 1099px) {
    #open-menu-hamburger {
        display: block;
    }

    #portfolio {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 40px;
        background-color: dodgerblue;
    }

    #menu {
        display: none;
    }
}

#close-menu-hamburger {
    font-family: 'Langar', cursive;
}

#open-menu-hamburger {
    height: 30px;
    width: 30px;
}