body {
    background-color: gray;
}

.piano_btn{
    background-color: white;
}

kbd {
    display: inline-block;
    width: 50px;
    height: 250px;
    border: solid 2px lightsteelblue;
    margin: 0 0 0 0;
    text-align: center;
    line-height: 200px;
}

.container {
    position: absolute;
    left: 50vw;
    top: 50vh;
    display: flex;
}